@mixin text($s, $w, $c, $ff) {
    font-size: $s;
    font-weight: $w;
    color: $c;
    font-family: $ff;
}

@mixin flex($gap, $jc: start, $ai: start, $fd: row) {
    display: flex;
    gap: $gap;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;

    div {
        max-width: 1568px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        padding: 10px 0 15px;

        nav {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            gap: 82px;

            .btn-sing-up {
                width: 135px;
                height: 53px;
                border-radius: 6.65px;
                border: 1.33px solid #212832;
                background-color: transparent;
            }

            .language {
                background-color: transparent;
                border-width: 0;
                display: flex;
                gap: 12px;
                align-items: baseline;

                img {
                    width: 12px;
                    height: 6px;
                }
            }
        }
    }
}

.preview {
    width: 100%;

    .content {
        max-width: 1568px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 88px;
        gap: 103px;

        .content-left {
            max-width: 728px;
            display: flex;
            flex-direction: column;
            gap: 32px;
            justify-content: center;

            h5 {
                font: 700 27px Poppins;
                text-transform: uppercase;
                color: #DF6951;
            }

            h1 {
                font: 700 112px Volkhov;
                line-height: 118.38px;
                letter-spacing: -5px;
                color: #181E4B;
            }

            p {
                font: 500 22px Poppins;
                line-height: 39.9px;
                color: #5E6282;
            }

            div {
                display: flex;
                gap: 59px;

                button:first-child {
                    font: 500 24px Google Sans;
                    color: #fff;
                    text-align: center;
                    width: 226px;
                    height: 80px;
                    border-radius: 13.3px;
                    background-color: #f1a501e7;
                    box-shadow: 0px 26.6px 46.55px 0px #F1A50126;
                    border-width: 0;
                }

                button:last-child {
                    font: 500 23px Poppins;
                    color: #686D77;
                    height: 80px;
                    justify-content: center;
                    border-width: 0;
                    background-color: transparent;
                    display: flex;
                    gap: 27px;
                    align-items: center;
                    justify-content: space-between;

                    div {
                        border-radius: 50px;
                        background-color: #DF6951;
                        width: 69px;
                        height: 69px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        box-shadow: 0px 19.95px 39.9px 0px #DF69514D;
                    }
                }
            }
        }

        & .img {
            max-width: 740px;
            max-height: 913px;
            object-fit: cover;
        }
    }
}

.caterory {
    max-width: 1568px;
    margin: auto;
    width: 100%;
    padding-top: 173px;

    h5 {
        font: 600 24px Poppins;
        text-align: center;
        color: #5E6282;
    }

    p {
        font: 700 66px Volkhov;
        text-align: center;
        text-transform: capitalize;
        color: #14183E;
    }

    .contener {
        display: flex;
        justify-content: space-between;
        padding-top: 93px;
        padding-bottom: 100px;

        .blok {
            width: 252px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 39px;
            border-radius: 47.88px;

            p:nth-child(2) {
                font: 600 27px Open Sans;
                color: #1E1D4C;
            }

            p:last-child {
                font: 500 21px Poppins;
                line-height: 34.58px;
                text-align: center;
            }

            &:hover {
                box-shadow: 0px 133.01px 106.41px 0px #00000015;
            }
        }
    }
}

.top-selling {
    max-width: 1568px;
    margin: auto;
    width: 100%;
    text-align: center;

    h5 {
        @include text(24px, 600, #5E6282, Poppins);
    }

    p {
        @include text(66px, 700, #1E1D4C, Volkhov);
        text-transform: capitalize;
    }

    .content {
        @include flex(69px, space-around, center);
        padding: 81px 0;
        flex-wrap: wrap;

        .slider {
            @include flex(35px, space-between, center, column);
            border-bottom-right-radius: 31.92px;
            border-bottom-left-radius: 31.92px;

            img {
                width: 421px;
                height: 454px;
                border-top-left-radius: 31.92px;
                border-top-right-radius: 31.92px;
            }

            .text {
                display: flex;
                justify-content: space-between;
                width: 90%;

                p {
                    @include text(24px, 500, #5E6282, Poppins);
                    line-height: 125%;
                }
            }

            .positon {
                display: flex;
                gap: 19px;
                width: 90%;
                padding-bottom: 56px;

                img {
                    width: 27px;
                    height: 27px;
                }

                p {
                    @include text(21.28px, 700, #5E6282, Poppins);
                    line-height: 125%;
                }
            }

            &:hover {
                box-shadow: 0px 133.01px 106.41px 0px #00000015;
            }
        }

    }
}

.book-trip {
    max-width: 1568px;
    margin: auto;
    width: 100%;
    @include flex(0, space-between, center);

    .blok-left {

        h5 {
            @include text(24px, 600, #5E6282, Poppins);
        }

        .left-p {
            @include text(66px, 700, #1E1D4C, Volkhov);
            text-transform: capitalize;
            padding: 19px 0 42px 0;
        }

        .contener {
            width: 525px;
            @include flex(65px, start, start, column);

            div {
                display: flex;
                gap: 28px;

                p {
                    @include text(21.28px, 700, #5E6282, Poppins);
                    line-height: 125%;

                    span {
                        @include text(21.28px, 400, #5E6282, Poppins);
                        line-height: 125%;
                    }
                }
            }
        }
    }

    .img-trip{
        max-width: 870px;
        width: 100%;
    }
}

.testimonials {
    max-width: 1568px;
    margin: auto;
    width: 100%;
    @include flex(109px);
    padding: 40px 0 230px;

    .blok-left {
        max-width: 577px;

        h5 {
            @include text(24px, 600, #5E6282, Poppins);
            text-transform: uppercase;
        }

        p {
            @include text(66px, 700, #1E1D4C, Volkhov);
        }
    }

    .blok-right {
        max-width: 725px;
        display: flex;

        .btn {
            @include flex(77px, center, center, column);
            padding-right: 36px;

            button {
                width: 20px;
                height: 20px;
                background-color: #686D77;
            }
        }

        .review {
            max-width: 670px;
            width: 100%;
            border-radius: 13.3px;
            padding: 5% 18% 5% 5%;
            box-shadow: 0px 133.01px 106.41px 0px #00000011;

            :first-child {
                @include text(21px, 500, #5E6282, Poppins);
                line-height: 42px;
            }

            :nth-child(2) {
                padding-top: 6%;
                @include text(24px, 600, #5E6282, Poppins);
            }

            :last-child {
                @include text(18px, 500, #5E6282, Poppins);
            }
        }
    }
}

.logos {
    max-width: 1568px;
    margin: auto;
    width: 100%;
    padding: 100px 0 164px;
    @include flex(0, space-around, center);

    div {
        width: 280px;
        height: 114px;
        border-radius: 13.3px;
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            mix-blend-mode: luminosity;
        }

        &:hover {
            box-shadow: 0px 133.01px 106.41px 0px #00000021;

            img {
                mix-blend-mode: normal;
            }
        }
    }
}

.subscribe_section {
    max-width: 1568px;
    margin: auto;
    width: 100%;
    padding-bottom: 220px;


    .contener {
        max-width: 1556px;
        // height: 541;
        // opacity: 0.2;

        border-radius: 171.59px 26.6px 26.6px 26.6px;
        background-color: #dfd7f951;
        text-align: center;
        padding: 103px 10%;

        p {
            @include text(44px, 600, #5E6282, Poppins);
            line-height: 71.83px;
            text-align: center;
            padding-bottom: 90px;
        }

        div {

            input {
                max-width: 560px;
                width: 100%;
                height: 90px;
                border-radius: 13.3px;
                background-color: #FFFFFF;
                border-width: 0;

                &::placeholder {
                    // &::before {
                    //     // content: url(resours/Group\ 46.svg);
                    // }
                }
            }

            button {
                width: 239px;
                height: 90px;
                border-radius: 13.3px;
                @include text(22px, 600, #fff, Open Sans);
                text-align: center;
                background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
                border-width: 0;
                padding-left: 32px;
            }
        }
    }
}

footer {
    @include flex(0, space-between, center);
    padding-bottom: 150px;
    max-width: 1568px;
    margin: auto;
    width: 100%;
     
    div:first-child {
        @include text(17px, 500, #5E6282, Poppins);
        line-height: 125%;

        p {
            padding-top: 60px;
        }
    }

    div:last-child {
        @include flex(95px, space-between, center);

        nav {
            @include flex(23px, start, start, column);

            h5 {
                @include text(28px, 700, #080809, Poppins);
                line-height: 125%;
                padding-bottom: 20px;
            }

            p {
                @include text(24px, 500, #5E6282, Poppins);
                line-height: 125%;
            }
        }
    }
}

@media (max-width: 1350px) {
    .preview .content .img {
        max-width: 500px;
        max-height: 700px;
        object-fit: cover;
    }

    .preview .content .content-left h1 {
        font-size: 85px;
        line-height: 120%;
    }
}

@media (max-width: 1000px) {}